/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

/*  Set the font */
body {
  font-family: "Helvetica", sans-serif;
}

/* STYLES */
/* Write your CSS below */
.header {
  background-image: url("../images/apple-pie.jpg"); 
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
  padding-top: 50px;
  position: relative;
}
.header h1 {
  color: white;
  font-size: 6em;
  font-weight: 100;
  text-align: center;
  padding: 200px 0px;
}

#description img{
  height: 30%;
  width: 30%;
  image-orientation: center;
  margin: 20px auto;
  display: block;
}

#ingredients img{
  height: 27%;
  width: 27%;
  margin: 20px auto;
  display: block;
}

#description h2{
  text-align: center;
  margin: 50px 200px 0px;
  font-size: 2em;
  font-weight: 50;
  
}

#ingredients h2{
  margin: 50px 0px 50px 220px;
  font-size: 2em;
}

#directions{
  margin-bottom: 100px;
}

#directions h2{
  margin: 50px 0px 50px 220px;
  font-size: 2em;
}

li{
  font-size: 1.5em;
  font-weight: 50;
  margin: 0px 200px 0px 250px;
  list-style: none;
  font-weight: lighter;
  line-height: 1.3em;
}

hr{
  margin: 20px auto 30px auto;
  width: 75%;
  border-top: 3px solid grey;
}